html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.container > div:nth-child(1) {
  background-color: #96ceb4;
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #88d8b0;
}

/* ................................... */

.container {
  /* nav */
  border: 5px solid #ffcc5c;
  display: flex;
}

.container > div {
  flex: 1;
  /* flex-grow & flex-shrink & flex-basis */
}
.container > .home {
  flex: 2;
}



.containerr > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.containerr > div:nth-child(1) {
  background-color: #96ceb4;
}

.containerr > div:nth-child(2) {
  background-color: #ff6f69;
}

.containerr > div:nth-child(3) {
  background-color: #88d8b0;
}

/* ................................... */
.containerr{
  border: 5px solid #ffcc5c;
  height: 600px;
  display: flex;
  align-items: center;
}

.containerr > .homee{
  align-self: flex-end;
}

.containerr > .logoutt{
  align-self: flex-start;
}



.containerrr > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.containerrr > div:nth-child(1) {
  background-color: #96ceb4;
}

.containerrr > div:nth-child(2) {
  background-color: #ff6f69;
}

.containerrr > div:nth-child(3) {
  background-color: #88d8b0;
}

/* ................................... */
.containerrr {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-wrap: wrap;
}

.containerrr > div {
  width: 300px;
}


.containerrrr > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.containerrrr > div:nth-child(1) {
  background-color: #96ceb4;
}

.containerrrr > div:nth-child(2) {
  background-color: #ff6f69;
}

.containerrrr > div:nth-child(3) {
  background-color: #88d8b0;
}

/* ................................... */
.containerrrr {
  border: 5px solid #ffcc5c;
  display: flex;
}

.homeeee{

  /* flex: 1 1 200px; */
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}

.searchhhh{

  /* flex: 2 5 200px; */
  flex-basis: 200px;
  flex-grow: 2;
  flex-shrink: 5;
}