.main{
  margin-top: 100px;
}

.logo-img{
  width: 300px;
  display: block;
  margin: 0 auto 20px auto;
}

.search-input{
  width: 400px;
  display: block;
  margin: 0 auto;
}

.title{
border: 2px solid #b8c80e;
margin-top: 200px;
padding: 50px 20px;
}